COMPASS_STRING=mongodb://localhost:27017/database-cohort8
ATLAS_STRING=mongodb+srv://<user>:<password>@cluster.mongodb.net/database-cohort8

CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET=your_api_secret


PORT=5555